<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21BRS1529</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bfhl/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>JSON Submission Form</h1>
        <textarea id="jsonInput" placeholder="Enter valid JSON"></textarea>
        <button onclick="submitJson()">Submit</button>
        <p id="errorMessage" class="error"></p>

        <div id="responseSection" style="display:none;">
            <label for="options">Select Filters:</label>
            <select id="options" multiple onchange="filterResponse()">
                <option value="alphabets">Alphabets</option>
                <option value="numbers">Numbers</option>
                <option value="highest_lowercase_alphabet">Highest Lowercase Alphabet</option>
            </select>
            <div class="response-container">
                <pre id="filteredResponse"></pre>
            </div>
        </div>
    </div>
    <script src="{% static 'bfhl/js/script.js' %}"></script>
</body>
</html>
